<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButton()"></a>
    <h1 class="ui-title"> Call History</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>

<div class="earning earningNEW paddingBilling">
    <ul>
    	<li>
            <a href="javascript:;" class="callHistory tableHead">
            <!-- <a href="javascript:;" class="callHistory" ng-show="!noMessageDiv"> -->
                <span class="left" style="width:60%;"><b>Call Date</b></span>
                <span class="blank left" style="width:25%;"><b>Duration</b></span> 
                <span class="right" style="width:15%;"><b>Amount</b></span>
                <span class="clr"></span>
            </a>
        </li>
        
        <li ng-repeat="historyKey in statscallhistory">
            <a href="javascript:;" class="callHistory tableBody">
                <span class="left" style="width:60%;margin-top:-2px;">
                    <span style="width:100%;">
                        <span style="width:auto;float:left;"><b>{{historyKey.displayname}}</b></span>
                        <span ng-if="calltype == 1" style="width:auto;float:left;color:#57A2E0;padding-left:5px;"><b> ( re to: {{historyKey.referer_displayname}} )</b></span>
                        <span ng-if="calltype == 2" style="width:auto;float:left;color:#57A2E0;padding-left:5px;"><b> ( re by: {{historyKey.referer_displayname}} )</b></span>
                    </span>
                    <!-- <span style="width:50%;"><b>( re to: {{historyKey.referer_displayname}} )</b></span> -->
                    <span style="width:100%;clear:both;">{{historyKey.call_start}}</span>
                </span>
                <span class="blank left" style="width:25%;margin-top:10px;">{{historyKey.call_duration}} mins</span>
                <span class="valuechange valuechangeNEW right" style="width:15%;margin-top:7px;">
                    <b ng-if="calltype == 1 || calltype == 2 || calltype == 4" style="background: #57A2E0;">${{historyKey.call_amount}}</b>
                    <b ng-if="calltype == 0">${{historyKey.call_amount}}</b>
                </span>
                
                <div class="clr"></div>
            </a>
        </li>
        <li ng-if="!noMessageDiv">
            <a href="javascript:;" class="callHistory">
                <span class="left" style="width:60%;margin-top:-2px;">
                    <span style="width:100%;">
                    </span>
                </span>
                <span class="blank left" style="width:25%;margin-top:5px;">
                    <b>Total</b>
                </span>
                <span class="valuechange valuechangeNEW right" style="width:15%;margin-top:2px;">
                    <b style="background: #57A2E0;">${{statsCallData.calls_total_amount}}</b>
                </span>
                
                <div class="clr"></div>
            </a>
        </li>
    </ul>
    <div class="no_msg" ng-show="noMessageDiv">
        No call history available.
    </div>
</div>
<section class="midArea paginate" ng-show="paginateSection">
    <div class="form-horizontal ui-content">
        <div class="form-group">
            <div class="col-xs-6 prev-arrow">
                <button class="btn btn-default fullwidth fullwidth_blue prev" id="prevBtn" ng-disabled='prevDisabled' ng-click="prevBtn()" ng-model="prevDisabled">
                    <span id="arrow"></span>
                    Prev
                </button>
            </div>
            <div class="col-xs-6 next-arrow">
                <button class="btn btn-default fullwidth fullwidth_blue next" id="nextBtn" ng-disabled='nextDisabled' ng-click="nextBtn()" ng-model="nextDisabled">
                    <span></span>
                    Next
                </button>
            </div>
        </div>
        <span class="errorStatus"></span>
    </div>
</section>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>