<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Send tip</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
        <!--div class="form-group middle" id="before_img_select">          
            <div class="col-sm-12 profile clearfix">
                <span class="errorStatus">{{errorMsg}}</span>
                <div class="control-label">
                    <label class="creditLabel"> Choose credits to add:</label>
                </div>
                <div class="radio1 check1 clearfix">
                    <input type="radio" ng-model="Credit" name="credits" id="01" value="20"/>
                    <label for="01"><span></span></label>
                    <a href="javascript:;"> 20 Credits  - <span style="font-weight:normal">(cost $20)</span></a>
                </div>

                <div class="radio1 check2 clearfix">
                    <input type="radio" ng-model="Credit" name="credits" id="02" value="40">
                    <label for="02"><span></span></label>
                    <a href="javascript:;"> 40 Credits  - <span style="font-weight:normal">(cost $40)</span></a>
                </div>

                <div class="radio1 check2 clearfix">
                    <input type="radio" ng-model="Credit" name="credits" id="03" value="60">
                    <label for="06"><span></span></label>
                    <a href="javascript:;"> 60 Credits  - <span style="font-weight:normal">(cost $60)</span></a>
                </div>
                <div class="form-group creditSubmit">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="creditSubmit()">Update account</button>
                    </div>
                </div>
                <p class="terms"> You must first click the button to update. </p>
            </div>
        </div-->
        <span class="errorStatus">{{errorMsg}}</span>
        <span class="succesStatus" id="successTipInfo">{{sendTipInfo}}</span>
        <a class="addcreditsanchor" href="javascript:;" ng-click="addcreditsTip()">Add credits</a>
        <form class="form-horizontal" name="TipForm" class="form-signin" novalidate>
        <div class="form-group" style="padding-bottom:0px; margin-bottom:0px;">
            <div class="form-horizontal ui-content footer1">
                <div class="row">
                <div class="reply-text1 col-xs-6">
                   <input autocomplete="off" class="form-control" placeholder="custom tip amount" name="send_tip" type="text" value="" ng-model="chatInput" id="input_chat" style="font-size: 12px;font-weight: 500;" ng-maxlength="8" required>
                   <!-- <span ng-show="TipForm.send_tip.$dirty && TipForm.send_tip.$invalid">
                       <span class="errorStatus" ng-show="TipForm.send_tip.$error.required">Please enter a valid tip amount.</span> -->
                       <!-- <span class="errorStatus" id="email_status"></span> -->
                       <!-- <div style="width: 270px;">
                       <span class="errorStatus" ng-show="TipForm.send_tip.$error.maxlength" ng-style="{'font-size':'13px'}">
                        Please enter no more than 8 characters.
                       </span>
                       </div> -->
                       <div style="margin-top: 6px;width: 270px;">
                        <span id="email_status" class="errorStatus" style="margin-left: 0px;font-size: 13px;"></span>
                        <span class="errorStatus" ng-show="TipForm.send_tip.$error.maxlength" ng-style="{'font-size':'13px'}">
                        Please enter no more than 8 characters.
                       </span>
                       </div>
                   </div>
                <div class="col-xs-6 send-button1 margin0">
                    <button class="btn btn-default fullwidth fullwidth_blue" style="padding-top: 6px;" ng-click="Sendtipdata(0,chatInput)">Send tip</button>
                </div>
                <div class="clr"></div>
            </div>
        <!-- <span id="email_status" class="errorStatus"></span> -->
    </div>
            <div class=" col-sm-12" style="margin-top: 12px;" ng-repeat="credit in credisList">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="Sendtipdata(1,credit)">Click to tip {{credit}} credits</button>
            </div>
            <!-- <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="creditSubmit(20)">Click to add 20 credits</button>
            </div>
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="creditSubmit(40)">Click to add 40 credits</button>
            </div>
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="creditSubmit(60)">Click to add 60 credits</button>
            </div> -->
        </div>
        </form>
        <p style="font-size: 13px;">
            You must first click the button to update.
        </p>
    </div>
</section>
<section class="earn" ng-style="{'position':'absolute','bottom':'-50px','width':'100%','text-align':'center'}">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>