<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Credit Balance</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
	    <span class="succesStatus creditBalance">{{creditInfo}}</span>
	</div>
</section>
<section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>