<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Send tip</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
	    <span class="succesStatus">{{sendTipInfo}}</span>
	</div>
	<div class="form-horizontal ui-content" ng-style="{'text-align':'center'}">
	    <span class="succesStatus1 newstatus">{{sendTipMsg}}</span>
	</div>
	<div class="earn" ng-style="{'text-align':'center'}">
        <a class="sendtipanchor" href="javascript:;" ng-click="sendAnotherTip()" id="viewTipLink">{{link_info}}</a>
        <p id="slash">|</p>
        <p id="newback" ng-click="backButton()"> Back </p>
    </div>
</section>

<section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
    <p class="text-center" style="margin-bottom: 0px;">ringhop © {{date | date:'yyyy'}}</p>
</section>