<div>
<div class="wrapper">
<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Confirm deactivation</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a> -->
</header>
    <section class="midArea">
        <div class="form-horizontal ui-content">
        	<p class="terms newterms">
				Are you sure you want to deactivate your account?
			</p>
			<div class="form-group">
			    <div class=" col-sm-12">
			    <!-- input name="user_confirmed" data-theme="b" class="btn btn-default fullwidth fullwidth_blue" ng-click="deactivateConfirm()" value="Yes, I confirm"> -->
            
			        <button type="button" class="btn btn-default fullwidth fullwidth_blue" name="user_confirmed" ng-click="deactivateConfirm()">Yes, I confirm</button>
			    </div>
			    <div class=" col-sm-12">
			        <button type="button" class="btn btn-default fullwidth" ng-click="deactivateCancel()">Cancel</button>
			    </div>
			</div>
		</div>
	</section>
	<section class="earn">
            <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
	<div id="sidebar-wrapper" class="side-menu" >
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="home">
                    Home
                </a>
            </li>
            <li class="ring">
                <a href="javascript:;">RINGHOP</a>
            </li>
            <li>
                <a ui-sref="home.howitworks">How it works</a>
            </li>
            <li>
                <a ui-sref="home.become_Pro">Become a Pro</a>
            </li>
            <!-- <li>
                <a ui-sref="home.faqs">Overview</a>
            </li> -->
            <li class="ring">
                <a href="javascript:;">ACCOUNT</a>
            </li>
            <li>
                <a ui-sref="home.contactus">Support</a>
            </li>
            <li>
                <a ui-sref="home.register">Create account</a>
            </li>
            <li>
                <a ui-sref="home.login">Sign in</a>
            </li>
        </ul>
    </div>
</div>