<div>
    <header>
        <a class="interfac header-back" onclick="back('right', '#/home/affter_login')"></a>
        <h1 class="ui-title">
            Get verified for Pro
        </h1>
        <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
    </header>
    <section class="midArea">
        <div class="detail_text">
            <h2>Verification dashboard</h2>
            <p class="terms" ng-show="ProStepsShow">
                Please complete each section below. Then allow one business day for approval.
            </p>
        </div>
    </section>
    <section class="inner_action dashboard padd_none" ng-show="ProStepsShow">
        <p ng-if=" proInfo.pv_idverify == -1 || proInfo.pv_payinfo == -1 || proInfo.pv_terms == -1 " style="color:red;font-weight:bold;padding-left: 11px;">{{proInfo.pv_notes}}</p>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="verifyIdentity()" id="verify_identity_btn"><span id="verify_identity_span" class=""></span>Verify identity {{proidverifyData}}</button>
            </li>

            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="paymentDetails()" id="payment_details_btn"><span id="payment_details_span" class=""></span>Payment details {{propayinfoData}}</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="accpetTerms()" id="accept_terms_btn"><span id="accept_terms_span" class=""></span>Accept terms {{protermsData}}
                </button>
            </li>
        </ul>
    </section>
    <section ng-show="!ProStepsShow" class="detail_text" style="color:green;margin-top:-23px;font-weight: bold;
    margin-left: 4px;">
        Your application is pending approval. You will recieve a notification once it has been reviewed.
    </section>
    <section class="midArea padd_none">
        <div class="detail_text detail_text2">
            <!-- <a class="ui-link ui-link2" ng-click="forward('left','#/home/howitworks')">How Ringhop Pro works</a> -->
            <a class="ui-link ui-link2" ng-click="forward('left','#/home/howitworks')">How it works</a>
            <!-- <a class="ui-link ui-link2" ng-click="forward('left','#/home/faqs')">FAQs</a> --><!-- Nanda -->
            <a class="ui-link ui-link2" ng-click="forward('left','#/home/verification')">Requirements</a>

            <hr class="row_center"/>
            <p class="terms neither">Have a question? <a href="javascript:;" ng-click="forward('left','#/home/contactus')" class="ui-link">Contact us</a></p>
        </div>
    </section>
    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>

