<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Payment Method</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
    <section class="midArea">
        <div class="form-horizontal ui-content">
            <!-- <span class="errorStatus">{{errorMsg}}</span>
            <span class="succesStatus">{{creditInfo}}</span> -->
            <div class="addcreditsdiv" style="padding: 15px;">
                <!-- <div class="form-group" style="margin-top: 25%;"> -->
                    <div class=" col-sm-12">
                        <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="creditCard_payment()" style="width: 100%;margin: auto;background: #469beb;border-color: #469beb;">Credit Card Payment</button>
                    </div>
                    <div class=" col-sm-12">
                        <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="apple_payment()" style="width: 100%;margin: auto;margin-top: 15px;background: #469beb;border-color: #469beb;">Apple Payment</button>
                    </div>
                    <div class="col-sm-12" style="margin-top: 10px;" ng-show="showCreditsDropdown">
                        <label for="credits" class="col-sm-3 control-label" id="credits_label" style="margin-left: -9px;color: #fff;font-size: 15px;">Credits to buy</label>
                        <div class="col-sm-9" style="margin-left: -16px;">
                            <select name="credits" id="credits" ng-model="creditsCode" ng-options="InApp_credit as InApp_credit.value for InApp_credit in InApp_credits" ng-change="buyCreditsOnchng(creditsCode.id)" class="form-control country-code currPeriod card-expiry-month" style="width: 105%;">
                            <!-- <select name="credits" id="credits" ng-model="creditsCode" ng-options="InApp_credit as InApp_credit.value for InApp_credit in InApp_credits" ng-change="buyCreditschng(creditsCode.id,creditsCode.price)" class="form-control country-code currPeriod card-expiry-month" style="padding-left: 50px;width: 105%;"> -->
                            </select>
                            <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-model="creditsCode" ng-click="buyCreditschng(creditsCode.id,creditsCode.price)" style="width: 70%;margin: 10px auto;background: #469beb;border-color: #469beb;margin-left: 38px;">Buy Credits</button>
                           <!--  <select name="singleSelect" ng-model="data.singleSelect">
                              <option value="option-1">Option 1</option>
                              <option value="option-2">Option 2</option>
                            </select> -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>