
    <header ng-controller="menuController">
        <a class="interfac header-back"  ng-click="backButton()"></a>
        <h1 class="ui-title">Become a Pro</h1>
        <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
    </header>
    <div id="wrapper">
    <section class="midArea">
        <div class="detail_text detail_text3">
            <h2>Become a Pro</h2>
            <p>Ringhop Pro lets you charge your clients, fans or social network followers a per-minute and per-text rate. Calls and text messages are routed anonymously through your very own private phone number. Just set your rates and Ringhop does the rest. Maintain your privacy while earning money. Fast weekly payments by check, wire or paycard. Getting verified is easy, so start today!</p>

            <h2>What you get</h2>
        </div>
        <ul class="detail">
            <li><strong>Free Private phone number.</strong> All calls and texts are routed 100% anonymously to/from your own private phone number.</li>
            <li><strong>Earn 50%</strong> of all money you generate from calls, txts, photos and more.</li>
            <li><strong>Set your call and txt rates.</strong> Charge your clients or fans the per minute and per txt rates that make sense. You are in control.</li><!-- Nanda -->
           <!--  <li><strong>Charge for photos and videos.</strong> Just set the price, expiration time and send! We do the rest.</li> --><!-- Nanda -->
            <li><strong>Check your earnings in realtime.</strong> We give you all the tools you need to keep track of your earnings right from your phone.</li>
            <li><strong>Fast weekly payments. </strong>We pay promptly every week by check, bank wire or paycard.</li>
            <li><strong>24/7 Customer service.</strong> We really do have a dedicated support staff to help!</li><!-- Nanda -->
            <li><strong>Promote yourself.</strong> In addition to your free private phone number, we also provide you with buttons, widgets and links to your own contact page.</li>
        </ul>
        <div class="detail_text">
            <a href="javascript:;" ng-click="goBack()"><h2 class="start">Go Back</h2></a>
            <p class="terms neither">Have a question? <a href="javascript:;" class="ui-link" ng-click="forward('left','#/home/contactus')">Contact us</a></p>
        </div>

    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
    </section>
</div>

