
    <header ng-controller="menuController">
        <a class="interfac header-back"  ng-click="backButton()"></a>
        <h1 class="ui-title">How it works</h1>
        <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
    </header>
    <div id="wrapper">
    <section class="midArea">
        <div class="detail_text detail_text3">
            <h2>How it works</h2>
            <p> 
                The Ringhop app lets you communicate directly and privately with social stars and professionals.
                Simply download the app and create your free account. Search for people, connect and start sharing today. 
            </p>
            <p>
                Ringhop is made by Lakewood Group LLC, a fast growing startup based in Miami, Florida.  Our team is passionate about developing technology to help people connect and communicate safely and privately.
            </p>
        </div>
        <div class="detail_text">
            <p class="terms neither">Have a question? <a href="javascript:;" class="ui-link" ng-click="forward('left','#/home/contactus')">Contact us</a></p>
        </div>

    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
    </section>
</div>

