<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Purchase photo</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
	    <span class="purchaseSuccesStatus">Paid photo request from: {{purchase_displayname}}</span>
	</div>
	<div class="form-horizontal ui-content" ng-style="{'margin-top':'-10px'}">
	    <span class="purchaseSuccesStatus1">{{purchase_tagline}}</span>
	</div>
	<div class="purchaseEarn" ng-style="{'text-align':'center'}">
        <p>{{purcahse_resulttext}}</p>
    </div>
</section>
<div class="loaderId" ng-show="showLoader">
        <img src="img/loader.gif">
</div>
<div class="form-group" ng-show="showButton">
    <div class=" col-sm-12" style="margin-top: 15px;width: 101%;margin-left: -1px;">
        <button type="button" id="purchase_button" class="btn btn-default fullwidth fullwidth_green" ng-click="purchaseUser(purchase_color, purchase_displayname, purchase_buttontext)">{{purchase_buttontext}}
            <span class="glyphicon glyphicon-chevron-right purchaseIconleft"></span>
        </button>
    </div>
</div>
<section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
    <p class="text-center" style="margin-bottom: 0px;">ringhop © {{date | date:'yyyy'}}</p>
</section>