<header ng-controller="menuController">
    <!-- <a class="interfac header-back" ng-click="backButton()"></a> -->
    <h1 class="ui-title">{{showNamedata}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="wrapper" style="background:#424242">
<section class="midArea">
    <div class="form-horizontal ui-content">
        <div class="userSection">   
            <i class="glyphicon glyphicon-remove" ng-click="callReject()"></i>
            <div class="userImg" id="profile_pic"></div>
            <div class="userSubFooter">
              <h5>{{showNamedata}}.. is calling</h5>
              <button class="btn btn-success btn-lg" ng-click="callAccept()">Accept Call</button>
            </div>
            <audio id="audio1" loop>
                <source src="sounds/fire_of_lo.mp3"></source>
            </audio>
        </div>
    </div>
    
</section>
</div>

<!-- <section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section> -->