<!-- =Header Start= -->
<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <!--a class="interfac header-back" ng-click="backButton()"></a-->
    <h1 class="ui-title">
        Video Chat
    </h1>
    <a href="javascript:;" class="interface header-share">
        <span></span>
    </a>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<!-- =Header End/= -->
<div class="listing-page">
    <!-- =Middle Content Frame Start= -->
    <div class="col-md-12 img_thumb imgPart">
        <a href="javascript:;" onclick="back('left','#/home/editProfile')" class="profileblock">
            <div class="row" style="font-size: 0.75em;">
                <div class="col-xs-12 col-md-12 row" ng-style="{'max-height':'100px','overflow':'hidden'}">
                    <div class="thumb">
                        <span class="img-responsive" alt="..." id="profile_pic"></span>
                        <!-- <img class="img-responsive" alt="..." id="profile_pic"> -->
                    </div>
                    <div class="caption captionInherit">
                        <h2 id="username">{{receivername}}</h2>
                        <p class="location_status" id="user_loc" style="word-wrap:break-word;padding-bottom:18px;" ></p>
                        <p class="textaddresss" id="user_gender"></p>
                        <p class="textaddresss" id="user_location"></p>
                        <p class="btmtitle" id="usersStatus" style="padding-top:18px;">  </p>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </a>
        <div class="clr"></div>
    </div>
    <div class="chatTxt">
    	<p>Choose a minimum Video Chat talk time below to connect. This user will be prompted to accept or reject your chat request.</p>
    	<h5>
    		Video chat rate ${{ chat_rate }} Per min.
    		<span>+  add credits</span>
    	</h5>
    </div>
    <!-- drop down-->
    <div class="form-group  m-b-50">

        <div class="col-sm-9">
            <select name="perminute_rate" id="perminute_rate" ng-model="perMinuteCode" class="selectpicker form-control extra" ng-options="min_rate.id  as min_rate.value for  min_rate in per_minute_select" ng-init = "perMinuteCode = per_minute_select[0].id" style="padding-left: 30px !important;">
                </select>
            <div id="expiremonth_error" class="errorStatus"></div>
        </div>
    </div>
    <!-- /drop down-->
    <div class="form-group">
        <div class=" col-sm-12">
            <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="registerAction()">
                Start Video Chat
            </button>
        </div>
    </div>

</div>        