<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButtonfrmCallerhist()"></a>
    <h1 class="ui-title">{{callerHistory.caller.displayname}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div class="col-md-12 img_thumb imgPart">
    <a href="javascript:;" class="profileblock">
        <div class="row" style="font-size: 0.75em;">
            <div class="col-xs-12 col-md-12 row" ng-style="{'max-height':'102px','overflow':'hidden'}">
                <!-- <div class="thumb" ng-click="profileLink()"> -->
                <div class="thumb">
                    <span class="img-responsive" alt="..." id="profile_pic"></span>
                    <!-- <img ng-src="{{callerHistory.profile_images.profile_image_big}}" class="img-responsive" alt="..." id="profile_pic" src="img/profile-big.jpg" style="height: 110px; max-width: 100%;"> -->
                </div>
                <div class="caption captionInherit captioncaller">
                    <h2 id="username">{{callerHistory.caller.displayname}}</h2>
                    <!-- <p class="textaddresss" id="user_gender" ng-if="callerHistory.caller.profile.gender == 'M'">Male</p>
                    <p class="textaddresss" id="user_gender" ng-if="callerHistory.caller.profile.gender == 'F'">Female</p> -->
                    <p class="location_status" style="width:170px; word-wrap:break-word;padding-bottom:18px;">{{callerHistory.caller.profile.profile_status}}</p>
                    <p class="textaddresss" id="user_location"></p>
                    <p class="btmtitle" id="usersStatus"> {{callerHistory.online_status}} </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </a>
    <div class="clr"></div>
</div>
 <div class="clr"></div>
<section class="inner_action after-login">
    <ul>
        <li ng-if="callerHistory.ringhop_number != null && callerHistory.ringhop_number != ''">
            <a href="tel:+ {{callerHistory.ringhop_number}}">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <span class="blueCallHistory">Call {{callerHistory.ringhop_number}}</span>
                </button>
            </a>
        </li>
        <li ng-click="videoCallFromCallerhistory(callerHistoryProData.user_id,callerHistoryProData.fullname)" ng-show="showVideoIcon">
            <a href="javascript:;">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-facetime-video" style="font-size:17px;">
                    </span>
                    <span class="blueCallHistory">Video Call</span>
                </button>
            </a>
        </li>
        <li>
            <a href="#/home/reply{{callerHistory.caller.id}}">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="blueCallHistory">Send message</span>
                </button>
            </a>
        </li>
        <li ng-if="isPro == false">
            <button type="button" class="btn btn-default fullwidth" ng-click="sendTip()">
                <span class="glyphicon glyphicon-lock"></span>
                <span class="blueCallHistory">Send tip</span>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default fullwidth" ng-click="addAsContact()">
                <span class="glyphicon glyphicon-star"></span>
                <span class="blueCallHistory" id="alreadyContact">Add as contact</span>
            </button>
        </li>

    </ul>
    <ul>
        <li>
            <button type="button" class="btn btn-default fullwidth" ng-click="blockUser()">
                <span class="glyphicon glyphicon-ban-circle"></span>
                <span class="redCallHistory" id="alreadyBlocked">Block this user</span>
            </button>
        </li>
    </ul>
</section>
<div class="earning earningNEW">
    <h3 class="headCall">Caller history</h3>
    <ul>
        <li ng-repeat="historyKey in callerHistory.usercallhistory">
            <a href="javascript:;" class="callHistory">
                <span class="datenew left firstspan">{{historyKey.call_start}}</span>
                <span class="blank left secondspan" ng-if="historyKey.call_type == 'missed'"></span>
                <!-- <span class="blank left" ng-if="historyKey.call_actual_duration == 0">0 mins</span> -->
                <span class="blank left secondspan" ng-if="historyKey.call_type != 'missed'">{{(historyKey.call_actual_duration/60).toFixed(1)}} mins</span>

                <span class="valuechange valuechangeNEW right" ng-if="historyKey.call_type == 'normal'"><b>${{historyKey.call_total_amount}}</b></span>
                <span class="valuechange valuechangeNEW right" ng-if="historyKey.call_type == 'connected'"><b>${{historyKey.call_total_amount}}</b></span>
                <span class="valuechange valuechangeNEW right orangeBG" ng-if="historyKey.call_type == 'trialcall' && historyKey.call_total_amount == null"><b>$0.00</b></span>
                <span class="valuechange valuechangeNEW right redBG" ng-if="historyKey.call_type == 'missed'"><b>missed</b></span>
                <span class="valuechange valuechangeNEW right orangeBG" ng-if="historyKey.call_type == 'trialcall' && historyKey.call_total_amount != null"><b>${{historyKey.call_total_amount}}</b></span>

                <span class="valuechange valuechangeNEW right" ng-if="historyKey.call_type == 'away' && historyKey.call_total_amount != null"><b>${{historyKey.call_total_amount}}</b></span>
                <span class="clr"></span>
                <span class="valuechange valuechangeNEW right" ng-if="historyKey.call_type == 'away' && historyKey.call_total_amount == null"><b>$0.00</b></span>
            </a>
        </li>
    </ul>
</div>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>

