<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButton()"></a>
    <h1 class="ui-title">Call forwarding settings</h1>
   <!--  <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea" id="phonesettings">
    <div class="form-horizontal ui-content">
        <span id="updateCheck" class="errorStatus"></span>
        <div class="form-group available pro_set" ng-style="{'margin-bottom':'0'}">
            <div class="col-sm-12">
            Call forwarding
                <div class="checkbox rememberBlock">
                    <input type="checkbox" checked value="1" id="call_forwarding" name="call_forwarding" ng-model="call_forwarding" class="css-checkbox"> 
                    <label for="call_forwarding" class="css-label lite-green-check">
                         Forward calls - 
                        <span style="font-weight:normal">Allow my missed calls to be forwarded and earn {{forwardData.referral_share}}% of each.</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group available pro_set">
            <div class="col-sm-12">
                <div class="checkbox rememberBlock">
                    <input type="checkbox" checked value="1" id="take_referred_calls" name="take_referred_calls" ng-model="take_referred_calls" class="css-checkbox">
                    <label for="take_referred_calls" class="css-label lite-green-check">
                         Accept referred calls  - 
                        <span style="font-weight:normal">Receive other user's missed calls and earn.</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="updateStatus()"><strong>Update call settings</strong></button>
            </div>
        </div>
        
        <p class="terms">By clicking the Update Call settings button you agree to the terms and conditions of this feature. All earnings associated with forwarded or received calls will be displayed in your stats under the "referred in calls" and "referred out calls" sections. </p>
    </div>
</section>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>